{% extends 'base.html' %}

{% block tittle %} About|
{% endblock tittle %}

{% block body %}

Lorem ipsum dolor sit amet consectetur adipisicing elit.
 Quam ut voluptatum rem sed mollitia quos eaque. Totam error aperiam co
 rporis quia quibusdam laudantium, atque consectetur facere commodi,
  nobis neque, officiis reprehenderit qui expedita. Fuga vitae et duci
  mus nulla, architecto officia culpa veritatis. Repudiandae repellend
  us expedita sapiente officiis. Facere ad fuga natus temporibus eum so
  luta atque ea reiciendis doloribus maxime velit odit, consequuntur labo
  riosam deserunt dicta alias commodi accusamus est aperiam omnis. Venia
  m nostrum cumque corporis, 
dicta aspernatur fugiat rerum illum optio. Dolorem tempore s
aepe voluptate culpa eaque neque consectetur!







{% endblock body %}